@model MBLabs.Models.Event

@{
    ViewData["Title"] = "Details";
}
<div class="container ml-5">

    <div class="h2">@Html.DisplayFor(model => model.Name)</div>

    <div class="mt-3 ml-2">

        <div class="col-8">
            @Html.DisplayFor(model => model.Description)
        </div>

        <div class="mt-4">
            <div class="row ml-1 mt-2">
                <div>
                    <img src="~/img/lugar.png" />
                </div>
                <div class="ml-3">
                    @Html.DisplayFor(model => model.Location)
                </div>
            </div>

            <div class="row ml-2 mt-2">
                <img src="~/img/calendario.png" />
                <div class="ml-3">
                    @Html.DisplayFor(model => model.Date)
                </div>
            </div>

            <div class="row ml-2 mt-2">
                <img src="~/img/tempo.png" />
                <div class="ml-3">
                    @Html.DisplayFor(model => model.Hour)
                </div>
            </div>

            <div class="row ml-2 mt-2">
                <img src="~/img/dinheiro.png" />
                <div class="ml-3">
                    @Html.DisplayFor(model => model.Price)
                </div>
            </div>
        </div>
    </div>
    <div class="mt-2 ml-3">
        <a class="btn btn-success" asp-controller="Tickets" asp-action="Create" asp-route-id="@Model.Id">Payment</a>
    </div>
</div>
