@model MBLabs.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Client)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Event)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Event)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ticket_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ticket_id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
