@model MBLabs.Models.Ticket

@{
    ViewData["title-bilhete"] = "Ticket";
}

<div class="bilhete">
    <div class="bilhete-cabecalho">
        <div class="bilhete-cabecalho-esquerda">
            <small class="bilhete-cabecalho-esquerda-evento">
                EVENT
            </small>
            <div class="bilhete-cabecalho-esquerda-nome">
                @ViewBag.Event.Name
            </div>

        </div>
    </div>
    <div class=" container bilhete-corpo">
        <div class="bilhete-cliente rounded">
            CLIENT:
            <div class="bilhete-dados-clientes">
                @ViewBag.User.Name
            </div>
            <div class="bilhete-dados-clientes">
                @ViewBag.User.CPF
            </div>
            <div class="bilhete-dados-clientes">
                @ViewBag.User.Phone
            </div>

        </div>
        <div class=" bilhete-dados rounded">
            INFORMATIONS:
            <div class="bilhete-dados-eventos">
                <div class="bilhete-dados-clientes">
                    @ViewBag.Event.Name
                </div>
                <div class="bilhete-dados-clientes">
                    @ViewBag.Event.Date.ToString().Substring(0, 9) | @ViewBag.Event.Hour
                </div>
                <div class="bilhete-dados-clientes">
                    LOCALIZATION: @ViewBag.Event.Location
                </div>
                <div class="bilhete-dados-clientes">
                    PRICE: R$ @ViewBag.Event.Price
                </div>

            </div>
        </div>
        <div class="bilhete-dados-ticket">
            <img class="image_logo barcode" src="~/img/barcode.webp" />
        </div>

    </div>
</div>
<input type="button" value="Print this page" onClick="window.print()" />


<div>
    <a asp-action="Index">Back to List</a>
</div>
