@model MBLabs.Models.Ticket

@{
    ViewData["Title"] = "Details";
}


@ViewBag.User.CPF

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @ViewBag.User.Id
        </dt>
        <dt class="col-sm-2">
            @ViewBag.User.Email
        </dt>
        <dt class="col-sm-2">
            @ViewBag.User.CPF
        </dt>
        <dt class="col-sm-2">
            @ViewBag.User.UserName
        </dt>
        <dt class="col-sm-2">
            @ViewBag.User.Phone
        </dt>
        <dt class="col-sm-2">
            @ViewBag.User.IsADM
        </dt>

    </dl><dl class="row">
        <dt class="col-sm-2">
            @ViewBag.Event.Id
        </dt>
        <dt class="col-sm-2">
            @ViewBag.Event.Name
        </dt>
        <dt class="col-sm-2">
            @ViewBag.Event.Description
        </dt>
        <dt class="col-sm-2">
            @ViewBag.Event.Hour
        </dt>
        <dt class="col-sm-2">
            @ViewBag.Event.Date
        </dt>
        <dt class="col-sm-2">
            @ViewBag.Event.Location
        </dt>
        <dt class="col-sm-2">
            @ViewBag.Event.Price
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
