@model IEnumerable<MBLabs.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}


@{
    var eventos = ViewBag.Events as List<MBLabs.Models.Event>;
}


<h1>Tickets</h1>


@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id_Client)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Id_Event)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ticket_id)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @ViewBag.User.Name
                    </td>
                    <td>
                        @eventos.Find(delegate (Event e) { return e.Id == item.Id_Event; }).Name
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ticket_id)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@



<div class="card-deck mt-3">
    @{
        var i = 0;
    }
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-4 s12 m6 mb-2 ">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <div class="card-title">
                            @eventos.Find(delegate (Event e) { return e.Id == item.Id_Event; }).Name
                        </div>
                        <span class="card-title"></span>
                        <p>
                            Localização: @eventos.Find(delegate (Event e) { return e.Id == item.Id_Event; }).Location
                        </p>
                        <p>
                            Horario: @eventos.Find(delegate (Event e) { return e.Id == item.Id_Event; }).Hour
                        </p>
                        <p>
                            Data: @eventos.Find(delegate (Event e) { return e.Id == item.Id_Event; }).Date
                        </p>
                        <p>
                            Name: @ViewBag.User.Name
                        </p>
                        <p>
                            CPF: @ViewBag.User.CPF
                        </p>
                    </div>
                    <div class="card-action">
                        <a asp-action="Details" asp-route-id="@item.Id"> View Ticket</a>
                        <a asp-action="Delete" asp-route-id="@item.Id"> Delete</a>
                    </div>
                </div>
            </div>


            @if (i % 3 == 2)
            {
                <div class="w-100"></div>

            }


            i++;
        }
    </div>
</div>
